PORT=4000
DATABASE_URL="postgresql://reachinbox:reachinbox_password@localhost:5432/email_scheduler?schema=public"
REDIS_HOST=localhost
REDIS_PORT=6379

WORKER_CONCURRENCY=5
MIN_SEND_INTERVAL_MS=1000
MAX_EMAILS_PER_HOUR=50
MAX_EMAILS_PER_HOUR_PER_SENDER=10

ETHEREAL_USER=
ETHEREAL_PASS=
